<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <!-- ... -->
</head>
<body>
  <div class="home w-full h-screen flex flex-col px-2 items-center justify-center">
   <div>
    <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M40.0015 20.7737C40.0015 31.3946 31.554 40.0045 21.1335 40.0045C10.7131 40.0045 2.26562 31.3946 2.26562 20.7737C2.26562 10.1529 10.7131 1.54297 21.1335 1.54297C31.554 1.54297 40.0015 10.1529 40.0015 20.7737Z" fill="#0C1825"/>
      <path d="M25.4151 13.4615C25.4151 20.3619 19.9317 25.9231 13.2075 25.9231C6.48338 25.9231 1 20.3619 1 13.4615C1 6.56118 6.48338 1 13.2075 1C19.9317 1 25.4151 6.56118 25.4151 13.4615Z" fill="white" stroke="#0C1825" stroke-width="2"/>
      </svg>
   </div>
   <h2 class="my-2 font-bold text-4xl">Verified!</h2>
   <p class="my-2 font-semibold text-lg">
       Your email address has been verified
   </p>

   <p>You can now Login</p>

   |

   <!-- <a class="px-4 py-2 rounded hover:bg-white hover:text-gray-900 font-medium my-2 bg-gray-900 text-white" href="">Proceed To Login</a> -->
   <a class="px-4 py-2 rounded hover:bg-white 
   hover:text-gray-900 font-medium border border-gray-900
    my-2 bg-gray-900 text-white" href="www.h.com"
    >Proceed To Login</a>